# Grosse Veränderungen der Säuglingssterblichkeiten

Gruppe: Valeria Schönyan, Jessica Schmid, Simon Mettler

Fragen:
- Welche Länder hatten in den letzten 10 Jahre die grösste Zunahme/Abnahme der Sterblichkeit bei Säuglingen (< 1 Jahr)?
- Was sind die Gründe dafür?

Quelle: 
- https://ourworldindata.org/grapher/infant-mortality?tab=table&country=USA~MEX~DEU~ZAF

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('infant-mortality.csv', skiprows=1,
                 names=['Land','Code','Jahr','Sterblichkeit']) 
df.head()

          Land Code  Jahr  Sterblichkeit
0  Afghanistan  AFG  1957      26.094225
1  Afghanistan  AFG  1958      25.776396
2  Afghanistan  AFG  1959      25.467907
3  Afghanistan  AFG  1960      25.123142
4  Afghanistan  AFG  1961      24.839281