# Grundgerüst Leistungsausweis
Dieses Notebook soll euch als Grundgerüst für euren Leistungsnachweis dienen. Es soll euch eine Idee/ Hilfestellung bieten, wie man einen neuen Datensatz, basierend auf einer Fragestellung, strukturiert analysieren und interpretieren kann. Wie besagt, dient das Notebook als Hilfestellung, ist jedoch keinenfalls vollständig ausgeschöpft. In diesem Sinne dürft ihr auch gerne Sachen miteinbeziehen, welche hier nicht genannt werden. 

-> Bitte schreibt die Antwort zu den jeweiligen Punkten an oberster Stelle unterhalb der Titel (so wie dies auch im Leistungsnachweisbeispiel gemacht wurde).


## Struktur
1. Fragestellung(en) und Datenbeschaffung
2. Daten laden
3. Daten vorbereiten
4. Statistik der Rohdaten (Generell im Longformat)
5. Analyse der Daten

**Wichtig:** Alle graphischen Darstellungen sollten mindestens *Titel, Ticks- und Achsenbeschriftung* beinhalten (Siehe plots im Leistungsnachweisbeispiel)

---

## 1. Fragestellung(en) und Datenbeschaffung
### 1.1 Titel: 
- Grosse Veränderungen der Säuglingssterblichkeiten
### 1.2 Gruppe:
- Valeria Schönyan, Jessica Schmid, Simon Mettler
### 1.3 Fragestellung:
- Welche Länder hatten in den letzten 10 Jahre die grösste Zunahme/Abnahme der Sterblichkeit bei Säuglingen (< 1 Jahr)?
- Was sind die Gründe dafür?   
### 1.4 Datenquelle(n):
- https://ourworldindata.org/grapher/infant-mortality?tab=table&country=USA~MEX~DEU~ZAF

### 1.4 Daten beschaffen und laden

In [2]:
# lade deine Bibliotheken -> Pandas, Seaborn, Matplotlib sind die wichtigsten für diese Aufgaben

import pandas as pd

In [10]:
# lade hier deine Daten

df = pd.read_csv('infant-mortality.csv', skiprows=1,
                 names=['Land','Jahr','Sterblichkeit']) 
df

            Land  Jahr  Sterblichkeit
Afghanistan  AFG  1957      26.094225
Afghanistan  AFG  1958      25.776396
Afghanistan  AFG  1959      25.467907
Afghanistan  AFG  1960      25.123142
Afghanistan  AFG  1961      24.839281
...          ...   ...            ...
Zimbabwe     ZWE  2019       4.596266
Zimbabwe     ZWE  2020       4.489809
Zimbabwe     ZWE  2021       4.362161
Zimbabwe     ZWE  2022       4.222358
Zimbabwe     ZWE  2023       4.057281

[13577 rows x 3 columns]

## 2. Daten vorbereiten 
- Welches Format hat mein Datensatz bzw. wie sind meine Kolumnen strukturiert?
- Welches Format kann ich für welche Teilschritte verwenden (wann soll ich pivot bzw. wide format verwenden)?
- Welche Datentypen kommen in meinem Datensatz vor?

In [9]:
df_pivot = df.pivot_table(
    index='Land',
    columns='Jahr',
    values='Sterblichkeit',
    aggfunc='mean'
)


df_pivot.head()

Jahr,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
Land,,,,,,,,,,,,,,,,,,,,,
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.635821,6.421486,6.225403,6.040129,5.863033,5.693236,5.528115,5.364005,5.198535,5.036440
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.362559,5.107606,4.888807,4.697818,4.527364,4.375559,4.228605,4.091318,3.956084,3.827140
AIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.699100,0.678997,0.659694,0.640420,0.621198,0.604765,0.586363,0.567121,0.549303,0.533224
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.776530,0.762981,0.761810,0.769265,0.781825,0.797022,0.811845,0.824619,0.831452,0.831589
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.352169,0.335916,0.320248,0.306298,0.294897,0.284046,0.273821,0.265141,0.256313,0.247736

## 3. Statistik der Rohdaten (Analyse im Long-Format)
- Ist meine Variable kontinuierlich oder diskret? Falls diskret, wieviele einzigartige Klassen gibt es? Wieviele Datenpunkte pro Klasse sind vorhanden?
- Anzahl Datenpunkte (Beschreibend und Graphische Darstellung)
    - Wieviele Datenpunkte sind für die bestimmten Variabeln vorhanden?
    - Wo fehlen Datenpunkte?
- Wie ist die Verteilung der zu untersuchenden Variabel(n) (Histogram, Boxplot, Säulendiagram)
- Vermutest du Zusammenhänge zwischen zwei Variabeln (Streuungsdiagramm, Korrelationsmatrix)

*Notiz: Zu jeder Kolumne sollte generell eine Aussage möglich sein.*

In [11]:
print('Anzahl verschiedener Länder: ', len(df['Land'].unique()))

Anzahl verschiedener Länder:  202

In [12]:
# Anzahl Datenpunkte pro Land
df['Land'].value_counts()

Land
GHA         92
BRA         90
GIN         87
MRT         84
FJI         84
            ..
OWID_KOS    39
NRU         39
MCO         39
SMR         39
OWID_WRL    34
Name: count, Length: 201, dtype: int64

Hier kommt eine Grafik zu Anzahl Datenpunkte pro Land

## 3.2 Analyse Jahr

In [15]:
print('Anzahl verschiedener Jahre: ', len(df['Jahr'].unique()))

Anzahl verschiedener Jahre:  92

In [16]:
# Anzahl Datenpunkte pro Jahr
df['Jahr'].value_counts().sort_index()

Jahr
1932      1
1933      1
1934      2
1935      2
1936      2
       ...
2019    212
2020    212
2021    212
2022    212
2023    212
Name: count, Length: 92, dtype: int64

Hier kommt Grafik über Anzahl Datenpunkte pro Jahr, wobei ab 1986 alle Länder Daten vorweisen.

## 3.3 Analyse Lebenserwartung

In [18]:
df.describe()

               Jahr  Sterblichkeit
count  13577.000000   13577.000000
mean    1990.145909       5.332074
std       20.448355       4.911552
min     1932.000000       0.136684
25%     1974.000000       1.479416
50%     1991.000000       3.687661
75%     2007.000000       7.984322
max     2023.000000      47.249640

Hier kommt ein Histogramm über die Lebenserwartung.

## 4. Analyse 

### Vorgehen
- Spezifische Untersuchung der Fragestellung (Berechnungen)
- Visualisieren der Resultate: Verwendet Achsenbeschriftung und überlegt euch, welche Art von Darstellung sinnvoll ist (Kuchen-, Säulen, Liniendiagramm; 2 y-Achsen?)
- Beschreiben der Beobachtungen
- Interpretation der Resultate (Hypothesen zu den Resultaten)
- Untermauern der Interpretation mittels Hinweise zur Literatur (Mögliche Zusammenhänge aufzeigen).